html {
    font-family: 'Open Sans', sans-serif;
    margin-left: 200px;
    margin-right: 200px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.site-header,
.site-footer {
    text-decoration-color: white;
    background-color: black;
}

.container-1 {
    background-color: #ffe6ac;
    background-size: 500px;
}

h1 {
    font-size: 80px;
    color: white;
    text-align: left;
}

h2 {
    color: black;
    text-align: justify;
    font-size: 35px;
}

.container-2 {
    background-color: #ffe6ac;
    background-size: 500px;
}

.banner {
    display: flex;
    justify-content: center;
    background: no-repeat, center;
    background-size: cover;
    height: 800px;
    text-align: center;
    background-image: url("images/main-banner.jpg");
}

.container-3 {
    background-color: #ffe6ac;
    background-size: 500px;
}

.container-4 {
    background-color: #ffe6ac;
    background-size: 500px;
}

.container-5 {
    background-color: #ffe6ac;
    background-size: 500px;
}

.container-6 {
    background-color: #ffe6ac;
    background-size: 500px;
}

.container-7 {
    background-color: #ffe6ac;
    background-size: 500px;
}

.btn {
    display: inline-block;
    padding: 2px 6px;
    cursor: pointer;
}

.btn-lg {
    display: inline-block;
    padding: 35px 50px;
    font-size: x-large;
    color: black;
    background-color: orange;
}

.btn-me {
    display: inline-block;
    padding: 35px 80px;
    font-size: x-large;
    color: white;
    background-color: black;
}

.btn-ov {
    display: inline-block;
    padding: 35px 80px;
    border: 2px solid orange;
    font-size: x-large;
    color: white;
    background-color: rgba(0, 0, 0, 0.415);
}

.btn-sm {
    font-size: medium;
    color: orange;
    background-color: black;
}

.table,
th {
    text-align: center;
    border: 1px solid black;
    background-color: khaki;
    width: 500px;
    height: 50px;
}


.table,
td {
    text-align: left;
    border: 1px solid black;
    padding: 0px 15px 0px;
    width: 500px;
    height: 50px;
}

.site-footer {
    text-align: left;
    padding: 5px 15px 5px;
    color: orange;
    background-color: black;
}