/* color palette
dark blue #586f7c
ghost white #f4f4f9
red #931f1d
black #071013 */

/* font family for every page */
html {
    font-family: 'Lato', sans-serif;
}

/* header start */
/* display flex flex direction row to have content display in a single row when on desktop,
space between to have space between each set of content in the header */
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* header text color change site title to ghost white */
.header-text {
    color: #f4f4f9;
}

.icon {
    color: #ffffff;
    font-size: small;
}

/* display flex tagarted and background color changed to red for the header */
.display-flex-header {
    background-color: #932f1d;
}

/* header end */

/* slogan homepage start*/
/* text algin used to center text at all screen sizes */
.slogan {
    text-align: center;
    background-color: #932f1d;
}

.slogan-text {
    color: #f4f4f9;
}

/* slogan homepage end */