/* color palette
dark blue #586f7c
ghost white #f4f4f9
red #931f1d
black #071013 */

/* font family for every page */
html {
    font-family: 'Lato', sans-serif;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-text {
    color: #f4f4f9;
}

.icon {
    color: #ffffff;
    font-size: small;
}

.display-flex {
    background-color: #932f1d;
}