/* color palette
dark blue #586f7c
ghost white #f4f4f9
red #931f1d
black #071013 */

/* font family for every page */
body {
    font-family: 'Merriweather', serif;
}

/* all pages header start */
/* display flex flex direction row to have content display in a single row when on desktop,
space between to have space between each set of content in the header */
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* header text color change site title to ghost white */
.header-text {
    color: #f4f4f9;
}

.icon {
    color: #f4f4f9;
    font-size: small;
}

/* display flex tagarted and background color changed to red for the header */
.display-flex-header {
    background-color: #932f1d;
}

/* all pages header start */

/* homapage start */
/* homepage slogan start*/
/* text algin used to center text at all screen sizes */
.slogan {
    text-align: center;
    background-color: #932f1d;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slogan-text {
    color: #f4f4f9;
}

/* slogan homepage end */

/* display flex to set images in a row */
.services-row {
    display: flex;
}

/* homepage services start */
/* flex 33.33% to have even space between three images */
.column-s {
    flex: 33.33%;
    padding: 5px;
}

/* height 20rem for photography, editing, videography images */
.services-img {
    height: 20rem;
}

/* font weright to change title to bold text
text centre to have title of each centered in box */
.services {
    background-color: #586f7c;
    color: #f4f4f9;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

/* only change to services-p from services is no font weight
padding left and padding right to clean up the look of the information */
.services-p {
    background-color: #586f7c;
    color: #f4f4f9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* button learn more for services about our services
border radius set to 0px to have pointed edges */
#learn-more {
    background-color: #931f1d;
    border-radius: 0px;
    color: #f4f4f9;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* services end */

/* homepage about us start */
/* about us div class for about us section */
.about-us {
    color: #f4f4f9;
    background-color: #586f7c;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* learn h1 learn about us,
padding add to give space between left side and paragraph text */
.about-us-title {
    color: #f4f4f9;
    padding-left: 1rem;
    font-size: 3rem;
}

/* about us paragraph */
.about-p {
    padding-left: 10px;
}

/* homepage about us end  */
/* homepage end */

/* contact page start */
/* location start */
.location-h2 {
    color: #586f7c;
    font-size: 3rem;
}

/* location end */

/* contact form start */

/* padding between text */
.contact-form-section {
    padding: 10px;
    background-color: #586f7c;
    width: 700px;
    margin: 0px auto;
}

/* label used to edit text size and color */
label {
    color: #071013;
    font-size: 2rem;
}

/* contact form input used for text input */
.contact-form-input {
    padding: 10px;
    width: 95%;
}

/* contact form used to add padding to add space between top paragraph
  and bottom footer */
.contact-form {
    border-radius: 10px;
    padding: 20px;
}

/* contact form button */
#submit-message {
    background-color: #931f1d;
    border: none;
    color: #f4f4f9;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

/* contact form end */

/* photography services start */
.photo-h1 {
    color: #586f7c;
    text-align: center;
    font-size: 4rem;
}

.services-row {
    display: flex;
}

/* homepage services start */
/* flex 33.33% to have even space between three images */
.column-s {
    flex: 33.33%;
    padding: 5px;
}

/* height 20rem for photography, editing, videography images */
.services-img {
    height: 20rem;
}

/* font weright to change title to bold text
text centre to have title of each centered in box */
.services {
    background-color: #586f7c;
    color: #f4f4f9;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

/* only change to services-p from services is no font weight
padding left and padding right to clean up the look of the information */
.services-p {
    background-color: #586f7c;
    color: #f4f4f9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* photography services end */

/* all pages footer start */
footer {
    background-color: #931f1d;
    color: #f4f4f9;
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 25% 33.33% 25%;
    height: 10vh;
}

/* display flex to order content in a row */
.row {
    display: flex;
    justify-content: flex-end;
}

.column {
    padding: 2px;
    padding-top: 50px;
    margin: 0 1rem;
}

.wrapper {
    width: 100%;
}

/* all pages footer end */

/* QUESTIONS
homepage:
-how to get the font family for all the text
-how to get lean more button in the center and on the bottom of text
-how to get the 3 services to stack on top of each other on smaller screen sizes 
*/