.grid {
  display: grid;
  grid-template-columns:50% 50%;
}


.wrapper {
  background-image: url(../desktop/img/scooter.svg);
  background-repeat: no-repeat;
  width: 100%; 
  height: auto;
  margin: auto;
  background-position: center;
}

h2 {
  font-size: 40px;
}

/* border added to be able to see changes to form, TAKE OUT when ready for 
final version */
.apply-now {
  padding: 30px;
  background-color: #ffffff;
  width: 350px;
  margin: 8px;
  margin-bottom: 2rem;
  border-radius: 12px;
  margin: 0px auto;
  box-shadow: 15px 15px 25px grey;
}

::placeholder {
  background-color: #f4f4f5;
  color: #9b9b9b;
}

#drive-with-us {
  background-color: #57eeab;
  border-radius: 12px;
  color: #333131;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  width: 350px;
}

.color-red {
  color: red;
}

footer {
  background-color: #fffd8c;
  width: auto;
  height: 150px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}

#calculate {
  background-color: #ff8480;
  border-radius: 12px;
  color: #f7f7ff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
}

.social-media {
  margin-top: 4rem;
  margin-left: 10rem;
}

.row {
  display: flex;
}

.column {
  flex: 10%;
  padding: 2px;
  padding-top: 50px;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}