.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* background image used in css to add content overtop */
.wrapper {
  background-image: url(..//week-3/images/scooter.svg);
  height: 800px;
  background-position: no-repeat;
  background-size: cover;
  position:relative;
}

.h1 {
}

.h2 {
  font-size: 40px;
}

/* box-shadow to create shadow effect around form */
.apply-now {
  padding: 30px;
  background-color: #ffffff;
  width: 350px;
  margin: 8px;
  margin-bottom: 2rem;
  border-radius: 12px;
  margin: 0px auto;
  box-shadow: 15px 15px 25px grey;
}

::placeholder {
  background-color: #f4f4f5;
  color: #9b9b9b;
}

#drive-with-us {
  background-color: #57eeab;
  border-radius: 12px;
  color: #333131;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  width: 350px;
}

/* target tag to change part of paragraph text to be red */
.color-red {
  color: red;
}

footer {
  background-color: #fffd8c;
  width: auto;
  height: 150px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}

#calculate {
  background-color: #ff8480;
  border-radius: 12px;
  color: #f7f7ff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
}

.social-media {
  margin-top: 4rem;
  margin-left: 10rem;
}

/* used display flex to have all images placed in a row */
.row {
  display: flex;
}

.column {
  flex: 10%;
  padding: 2px;
  padding-top: 50px;
}

/* used all tag to show media is being used for all screens */
@media all and (max-width: 500px) {
  .column {
    width: 100%;
  }
}