/* #id .class none element */
/* css for get a quote */

html {
    font-family: 'Lato', sans-serif;
}

/* IMPORTANT remove background color once <header> has background color */
.icon {
    color: #ffffff;
    font-size: medium;
    background-color: blue;
}

.header-content {
  display: flex;
}

#nav {
    list-style-type: none;
    margin: 0px;
    background-color: #e2d2c2;
    display: block;
    padding: 8px;
    padding-left: 10px;
}

/*overflow hidden add to keep content the begie area with all screen sizes */
.nav-link {
    display: inline;
    color: #262626;
    text-align: left;
    background-color: #e2d2c2;
    text-decoration: none;
    font-size: 17px;
    margin-top: 2rem;
    padding-left: 20px;
    overflow: hidden;
}

/* border radius set to 12px to have curved edges */
#explore {
    background-color: #dd0000;
    border-radius: 12px;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
}

/* border radius set to 0px to have pointed edges */
#learn-more {
    background-color: #dd0000;
    border-radius: 0px;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
}
#contact {
    padding: 100px 0px;
    background-color: f
  }
  
  .contact-form {
    padding: 30px;
    background-color: #262626;
    color: #ffffff;
    width: 600px;
    margin: 0px auto;
  }
  
  label {
    font-size: 1.5rem;
  
  }
  
  .contact-form-input {
    padding: 10px;
    width: 100%;
  }
 
    .quote-button {
    background-color: #dd0000;
    border: none;
    color: #ffffff;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

footer {
    background-color: #dd0000;
    color: #ffffff;
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 20vh;
}