html {
    font-family: 'Lato', sans-serif;
}

/* IMPORTANT remove background color once <header> has background color */
.icon {
    color:#ffffff;
    font-size: medium;
    background-color: blue;
}

#nav {
    list-style-type: none;
    margin: 0px;
    background-color: #e2d2c2;
    display: block;
    padding: 8px;
    padding-left: 10px;
}

/*overflow hidden add to keep content the begie area with all screen sizes */
.nav-link {
    display: inline;
    color: #262626;
    text-align: left;
    background-color: #e2d2c2;
    text-decoration: none;
    font-size: 17px;
    margin-top: 2rem;
    padding-left: 20px;
    overflow: hidden;
}