/* # id
   . class
   none element */

/* font family for every page */
html {
    font-family: 'Lato', sans-serif;
}

/* color used to make seach button white, font size small to make seach buttion smaller */
.icon {
    color: #ffffff;
    font-size: small;
}

/* display set to flex,
flex direction row to display in a row, 
justift content space between to evenly  */
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* site header targets "industrial painter and slogan, 
text color set to white to change both site name and slogan, 
flex direction column use to stack name and slogan on top of eachother */
.site-name {
    flex-direction: column;
    color: #ffffff;
}

.display-flex {
    background-color: #dd0000;
}

/* margin form to have search bar centered when mobile size applied */
form {
    margin: 0 auto;
}

/* nav, nav link used for all pages */
#nav {
    list-style-type: none;
    margin: 0px;
    background-color: #e2d2c2;
    display: block;
    padding: 8px;
    padding-left: 10px;
}

/*overflow hidden added to keep content in the begie area with all screen sizes */
.nav-link {
    display: inline;
    color: #262626;
    text-align: left;
    background-color: #e2d2c2;
    text-decoration: none;
    font-size: 17px;
    margin-top: 2rem;
    padding-left: 20px;
    overflow: hidden;
}

/* color changed to white to be visbale,
background color applied to h1 and paragraph */
.welcome-to-ip {
    color: #ffffff;
    background-color: #262626;
    display: flex;
    flex-direction: column;
}

/* welcome h1 welcome to IP,
padding add to give space between left side and paragraph text */
.welcome {
    padding-left: 1rem;
    font-size: 3rem;
}

/* welcome p, 
padding add to give space between left side and paragraph text */
.welcome-p {
    padding-left: 1rem;
    font-size: 2rem;
}

.welcome-img {
    width: 50%;
    height: fit-content;
}

/* learn about us color text and background color */
.learn-about-us {
    color: #262626;
    background-color: #E2D2C2;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* learn h1 learn about us,
padding add to give space between left side and paragraph text */
.learn {
    padding-left: 1rem;
    font-size: 3rem;
}

/* button explore for welcome to IP,
border radius set to 12px to have curved edges */
#explore {
    background-color: #dd0000;
    border-radius: 12px;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
}

/* button learn more for learn more about our bussiness
border radius set to 0px to have pointed edges */
#learn-more {
    background-color: #dd0000;
    border-radius: 0px;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
}

/* display flex to set images in a row */
.painting-row {
    display: flex;
}

/* flex 33.33% to have even space between three images */
.column-p {
    flex: 33.33%;
    padding: 5px;
}

/* class painting price for interior, exterior, and commercial painging pricing
all classed the same to have equal height */
.painting-price {
    height: 20rem;
}

/* font weright to change title to bold text */
.title {
    background-color: #E2D2C2;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

/* background color for 1hr CA $29.99, 
added background color to add emphasis to pricing */
.price {
    background-color: #E2D2C2;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* footer used for all pages */
/* footer content */
footer {
    background-color: #dd0000;
    color: #ffffff;
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 25% 33.33% 25%;
    height: 10vh;
}

/* display flex to order content in a row */
.row {
    display: flex;
    justify-content: flex-end;
}

.column {
    padding: 2px;
    padding-top: 50px;
    margin: 0 1rem;
}

.wrapper {
    width: 100%;
}

/* get a quote page css */

.quote-img {
    width: 100%;
    height: 50vh;
}


/* padding used for space between sections exaple space between name and email,
background color changed to Rich Black FOGRA 29*/
.contact-form-section {
    padding: 10px;
    background-color: #262626;
    width: 700px;
    margin: 0px auto;
}

/* label used to edit text size and color */
label {
    color: #ffffff;
    font-size: 1.5rem;
}

/* contact form input used for text input */
.contact-form-input {
    padding: 10px;
    width: 95%;
}

/* contact form used to add padding to add space between top paragraph
  and bottom footer */
.contact-form {
    border-radius: 10px;
    padding: 20px;
}

/* div container for submit quote button,
possition relative to have submit button center on page,
height 100px will display little below form */
.container {
    height: 100px;
    position: relative;
}

/* button for get a quote,
  text align center to center text inside,
  font size to change font size of the button to match label text,
  border radius set to 4px to slightly round edges */
#submit-quote {
    background-color: #dd0000;
    border: none;
    color: #ffffff;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* about page css */

.about-img {
    width: 100%;
    height: 50vh;
}

.about-text {
    background-color: #E2D2C2;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.about-header {
    font-size: 3.5rem;
    text-align: center;
}

.about-paragraph {
    font-size: 1.5rem;
}

/* media query section  */

@media screen and (min-width:650px) {
    .welcome-to-ip {
        flex-direction: row;
    }

    .welcome-to-ip img {
        width: 50%;
    }

    .welcome-img {
        width: 100%;
    }
}

/* used media screen to make max width 500px for nav link to fit 
        when used on mobile */
@media screen and (max-width:500px) {
    .nav-link {
        display: block;
    }
}